page-addclientinfo {
    .back_img {
		background: #e1e1e1 ;
	}
	.logo p {
        font-size: 15px;
        font-weight: normal;
        margin: 0;
        color: #000;
    }
    .input_1.item {
        background-color: #fff;
    }
	
	.logo h3 {
		color: #d21c21;
		font-size: 22px;
		text-transform: uppercase;
	}
	.img_sign img {
		width: 35px;
		margin: 10px;
    }
    .list label {
        font-weight: bold;
        font-size: 13px;
    }
	.logo img {
		width: 220px;
	}
	.logo {
        padding: 16px 0 0;
    }
    textarea {
        border: none;
        width: 100%;
    }
	.input_1 {
		margin: 10px 0;
		color: #000;
		font-size: 13px;
	}
	.btn_grp {
		padding: 10px 0 !important;
		text-align: center;
		font-size: 15px;
	}
	.btn_grp button {
        font-weight: bold;
        font-size: 16px;
        width: 80px;
        height: 30px;
        border-radius: 0;
    }
	.btn_grp p  {
		color: #fff;
	}
	.btn_grp p span {
		color: #ff9703;
	}
	
	.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
		left: 0;
		bottom: -5px;
		background-position: left 0 top -2px;
		position: absolute;
		width: 100%;
		height: 5px;
		background-image: none;
		background-repeat: repeat-x;
		content: "";
	}
	.label input {
		width: 85%;
		height: 30px;
		border: none;
		background: transparent;
	}
	
	.label {
		display: flex;
		align-items: center;
	}
	.label img {
		width: auto;
		height: 20px;
		margin-right: 8px;
	}
	.check {
		margin: 10px 0;
		border: 1px solid #ff9703;
		border-radius: 5px;
		overflow: hidden;
	}
}
