page-profile {
  .item-ios .item-button {
    height: 10px !important;
  }
  .item-md .item-button {
    height: 10px !important;
  }
  .bg {
    background: white;
  }
  .item-con {
    min-height: auto !important;
    height: 20px !important;
  }

  ion-datetime {
    border: 1px solid #cb1a34;
    background: white;
  }
  .content {
    background: #e1e1e1;
  }
  .searchbar-input-container {
    position: relative;
    display: block;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    height: 35px;
    box-shadow: 0 1px 5px #c6c6c6;
  }
  .toolbar .searchbar-ios .searchbar-input {
    background: #fff;
    height: 35px;
  }
  .searchbar-ios .searchbar-search-icon {
    left: 9px;
    top: 9px;
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    background-repeat: no-repeat;
    background-size: 18px;
  }
  .filter_item {
    background: transparent;
    .label {
      margin: 0;
    }
    .searchbar {
      background: none;
      border: none;
    }
  }
  .label img {
    width: auto;
    height: 20px;
    margin-right: 8px;
  }
  .disable-hover.item-button.button.button-ios.button-clear.button-clear-ios {
    height: auto;
  }
  .toolbar-background-ios {
    background: map-get($colors, primary);
  }
  .toolbar-title {
    font-weight: normal !important;
    color: white !important;
  }
  .searchbar-ios.searchbar-left-aligned .searchbar-input {
    border-radius: 18px !important;
  }
  .sear {
    border-radius: 18px !important;
  }
  .btn_add {
    background: #fff !important;
    font-size: 12px;
    padding: 5px 5px !important;
    color: #cb1a34 !important;
    border-radius: 0;
    height: 24px;
  }
  .user {
    margin-bottom: 1px;
    .item {
      p {
        display: flex;
        margin-bottom: 10px;
        color: #000;
      }
      img {
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
      }
    }
  }
  .avtar_item {
    align-items: baseline;
    padding: 0px 16px;
    h2 {
      font-weight: 500;
      font-size: 14px !important;
    }
    p {
      color: #000;
      margin: 0px !important;
    }
    ion-avatar {
      margin-top: 0 !important;
    }
    .label {
      margin-top: 0;
    }
  }
  .segment {
    background: #fff;
  }
  .segment.segment-ios.ng-valid.ng-touched.ng-dirty {
    background: #fff;
  }
  .segment-ios .segment-button.segment-activated {
    color: #cb1a34;
    background-color: #fff;
    opacity: 1;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    border-bottom: 2px solid #cb1a34;
  }
  .segment-ios .segment-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 3.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: #cb1a34;
    font-size: 1.3rem;
    line-height: 3rem;
    color: #cb1a34;
    background-color: transparent;
    border-radius: 0 !important;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #000;
  }
  .img_avtar img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 0 !important;
  }
  .heading_int {
    font-size: 17px !important;
    margin: 0px 0 10px !important;
    font-weight: 500 !important;
  }
  .btn_next {
    background: #fff;
    margin: 0;
    padding: 10px 16px;
  }
  .item_head {
    background: transparent;
  }
  .row_nw.row {
    justify-content: center;
  }
  .dash {
    background: #fff;
    text-align: center;
    padding: 20px;
    margin: 10px 10px 0;
    h3 {
      color: #cb1a34;
      font-weight: 600;
      font-size: 25px;
    }
    p {
      font-size: 17px;
      font-weight: 500;
      margin: 0;
    }
  }
  .list.list-ios {
    margin: 10px 0 10px;
  }
  .select {
    background: #f4f4f4;
    width: 120px;
    position: absolute;
    right: 0;
    top: -8px;
    border-radius: 6px;
    min-height: 25px;
    padding: 8px;
  }
  .avtar_item.avtar_item_right {
    // padding: 10px 0;
    // .img_avtar img {
    //     width: 40px !important;
    //     height: 40px !important;
    //     border-radius: 0 !important;
    // }
    // ion-avatar {
    //     margin: 0 7px 0 0 !important;
    // }
  }

  .datetime-ios {
    padding: 11px 3px;
    font-size: 12px;
  }
}
