<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="primary">
	  <ion-buttons start>
			  <button ion-button clear icon-only style="margin:0px 10px;">
		  <img src="assets/imgs/header/logo.png" height="30">
		</button>
  </ion-buttons>
  <ion-title>Productos</ion-title>
  <!-- <ion-buttons end>
    <button ion-button (click)="notify()">
    <img src="assets/imgs/home/notification.png" height="15">
    </button>
  </ion-buttons> -->
  <ion-buttons end>
    <button ion-button (click)="profile()">
    <img src="assets/imgs/profile-user.png" height="22">
    </button>
  </ion-buttons>
  </ion-navbar>
  </ion-header>

<ion-content>

  
  <ion-item class="filter_item" no-lines no-padding> 
    
    <ion-searchbar (ionChange)="search($event)" placeholder="" no-lines [(ngModel)]="search_val"></ion-searchbar>
    <!-- <button ion-button  style="height: auto;" item-end clear menuToggle>
      <img src="assets/imgs/filter.png" height="35">
    </button> -->
    
</ion-item>

  <div class="user" *ngFor="let p of products">
    <ion-row>
         <ion-col col-12 no-padding>

          <ion-item class="avtar_item" no-lines>  
            <ion-avatar item-start (click)="detail(p)">
              <div class="img_avtar">
              <img src="assets/imgs/user.png">
             
            </div>
            
            </ion-avatar>

            
          
            <h2 (click)="detail(p)">{{p.name}}</h2>
            <p (click)="detail(p)" [innerHTML]="p.short_description"></p>

          <div class="price" *ngFor="let u of p.product_venter">
            <!-- <div class="flex_box">
              <div class="f1"><b>+</b></div>
              <div class="f2"><b>1</b></div>
              <div class="f1"><b>-</b></div>
            </div> -->
            <!-- <span >1L 5,4 E/L</span> -->
            <span >{{u.unit}}</span>

            <span class="rate" style="margin: 0;"><b>€{{u.price}}</b></span>
          </div>

          <!-- <ion-item no-lines no-padding class="total">
            <p style="margin: 0;"><b>Total</b></p>
            <p style="margin: 0;" item-end><b>1000$</b></p>
          </ion-item> -->


            <!-- <button ion-button outline color="dark">20L-bottle XEUR</button>
            <button ion-button outline color="dark">60L-bottle ZEUR</button>
            <button ion-button outline color="dark">2000L-bottle WEUR</button> -->
      
      
          </ion-item>

  </ion-col>
</ion-row>
    </div>

    <ion-row margin-top *ngIf="products.length==0">
        <ion-col col-12 text-center>
          <div class="noDatadiv">
            <ion-icon name="ios-search-outline"></ion-icon>
            <p>Sin registros encontrados!</p>
          </div>
        </ion-col>
      </ion-row>
</ion-content>
